/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Cochin;
  background-color: #f0f0f0;
  line-height: 1.6;
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
  width:100%;
  height:110px;
  background:rgb(153, 220, 226);
  position: fixed;
  translate: -20px -20px;
  z-index: 1;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* The actual list of pages */
nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #0084b4;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #005f84;
}

#contentsTable {
  position: fixed;
  top: 200px;
}

#contentsTable ul {
  list-style-type: none;
  justify-content: center;
  margin-top: 10px;
}

#contentsTable ul li {
  margin-top: 20px;
}

#contentsTable ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 50px;
  background-color: #001eff;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#contentsTable ul li a:hover {
  background-color: #8dfbf4;
}

/* Main content styles */
main {
  background-color: #fff;
  background: linear-gradient(180deg, #c7deff,#5396f5 50%, #3086ff);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 110px;
}

/* Sections on the pages */
section {
  margin-bottom: 20px;
  scroll-margin-top: 150px;
}

/* Sections headers */
section h2 {
  margin-bottom: 20px;
  color: #1e00ff;
  position: relative; 
  text-align: center;
  width: 50%;
  translate: 50%;
}

/* Sections text */
section .section-text {
  margin-left: 30%;
  margin-right: 30%;
  word-wrap: break-word;
  margin-bottom: 40px;
  z-index: 2;
}

/* Ajust the images in the section */
.section-text img {
  max-width: 100%;
  max-height: 200px;
}

.section-text .image-left {
  float: left;
  margin: 5px 5px 5px 0;
}

.section-text .image-right {
  float: right;
  margin: 5px 0 5px 5px;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #0084b4;
  color: #fff;
}